.save-button {
  position: absolute;
  top: 14px;
  right: 14px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 10px;
  line-height: 9px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #c6c6c6;
  transition: 0.5s;
}

.save-button::before {
  content: "Сохранить";
  width: 72px;
  transition: 0.5s;
}

.save-button_clicked {
  background-color: #ff4062;
}

.save-button_clicked:hover {
  background-color: #ff224a;
}

.save-button_clicked::before {
  content: "";
  width: 21px;
}

.save-button__icon {
  position: absolute;
}
