.about-me {
  padding: 110px 0 125px;
}

.about-me__title {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-me__line {
  margin-bottom: 66px;
  margin-top: 23px;
  display: block;
  background-color: #000;
  width: 100%;
  height: 1px;
}

.about-me__container {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

.about-me__text {
  flex: 0 1 600px;
}

.about-me__name {
  margin: 0;
  font-size: 50px;
  font-weight: normal;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__job {
  margin: 18px 0 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__info {
  margin-bottom: 99px;
  line-height: 22px;
}

.about-me__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.about-me__pic-container {
  flex: 0 0 270px;
  height: 327px;
}

.about-me__pic {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1000px) {
  .about-me {
    padding: 90px 0;
  }

  .about-me__container {
    gap: 49px;
  }
}

@media screen and (max-width: 830px) {
  .about-me__container {
    margin-bottom: 90px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.6px;
  }

  .about-me__job {
    margin: 16px 0 20px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  .about-me__info {
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__link {
    font-size: 14px;
  }

  .about-me__pic-container {
    flex-basis: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 620px) {
  .about-me {
    padding: 70px 0;
  }

  .about-me__line {
    margin-top: 28px;
    margin-bottom: 60px;
  }

  .about-me__container {
    margin-bottom: 70px;
    gap: 40px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__info {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__pic-container {
    align-self: center;
    flex-basis: 170px;
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .about-me {
    margin-left: -4px;
    margin-right: -4px;
  }

  .about-me__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    line-height: normal;
  }

  .about-me__container {
    flex-direction: column-reverse;
  }

  .about-me__job {
    margin-top: 20px;
  }

  .about-me__text {
    flex: auto;
  }

  .about-me__pic-container {
    width: 292px;
    flex: 0 0 352px;
  }
}
